.Header {
  background-color: #222;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.Footer {
  bottom: 0;
  z-index: 999;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.Footer a{
  color: #837f7f;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  color: black;
  padding: 5px 7.5px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 1000;
  font-size: 1.5rem;
}

.Nav {
  position: sticky;
  top: 0;
  z-index: 999;
  text-align: center;
  background: #333;
  padding: 1rem;
}

.Nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
